<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale-1"/>
    <meta http-equiv="x-ua-compatible" content="ie-edge"/>
    <link href="../../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" type="text/css"/>
    <title>Welcome to online StuManager</title>
</head>
<body>
<div class="page-header">
    <h1 >Welcome Student <label th:text="${session.student.name}"></label></h1>
</div>
<div class="container">

    <div class="col-md-offset-1 col-md-10">
        <form method="post" action="student.html"
              th:action="@{/student}">
            <table class="table table-striped">
                <thead>
                <th>Number</th>
                <th>Password</th>
                <th>Name</th>
                <th>Class</th>
                <th>Course</th>
                </thead>
                <tbody>
                <tr th:object="${student}">
                    <td th:text="*{{numbers}}">1</td>
                    <td th:text="*{password}">1</td>
                    <td >
                        <a th:href="@{/student/{id}(id=${student.id})}" th:text="*{name}"></a>
                    </td>
                    <td th:text="*{{classes}}">class1</td>
                    <td th:text="*{{courses}}">course1</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script src="../../../js/jquery.js"
        th:src="@{/js/jquery.js}"
        type="text/javascript"></script>
<script src="../../../js/student.js"
        th:src="@{/js/student.js}"
        type="text/javascript"></script>

</body>
</html>